In [ ]:
import os
import pyspark
conf = pyspark.SparkConf()
conf.set("spark.ui.proxyBase", "/user/" + os.environ["JUPYTERHUB_USER"] + "/proxy/4041")
conf.set("spark.driver.memory", "16g")

sc = pyspark.SparkContext(conf = conf)
spark = pyspark.SQLContext.getOrCreate(sc)

In [ ]:
import re
import statistics
import json
import numpy as np
import textdistance as td
import yake
import sparknlp
from sparknlp.base import DocumentAssembler, Pipeline
from sparknlp.annotator import SentenceDetector, Tokenizer, YakeKeywordExtraction
from pyspark.ml import Pipeline
import pyspark.sql.functions as F
from pyspark.sql.functions import udf, col, rank, collect_set, explode, array
from pyspark.sql.window import Window
import pyspark.sql.types as types
from openai import OpenAI
import numbers
from dotenv import load_dotenv

load_dotenv()

# **Dataset**

Download the dataset from here - https://www.kaggle.com/datasets/ravindrasinghrana/job-description-dataset/data and place the unzipped `.csv` in the root directory.

Keep in mind this dataset has been synthetically generated so the aggregates and insights we extract are very unrealistic.

Example:
| Job Id | Experience | Qualifications | Salary Range | location | Country | latitude | longitude | Work Type | Company Size | Job Posting Date | Preference | Contact Person | Contact | Job Title | Role | Job Portal | Job Description | Benefits | skills | Responsibilities | Company | Company Profile |
| - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - | - |
| 398454096642776 | 2 to 12 Years | BCA | $56K-$116K | Ashgabat | Turkmenistan | 38.9697 | 59.5563 | Intern | 100340 | 2022-12-19 | Female | Francisco Larsen | 461-509-4216 | Web Developer | Frontend Web Developer | Idealist | Frontend Web Developers design and implement user interfaces for websites, ensuring they are visuall... | {'Health Insurance, Retirement Plans, Paid Time Off (PTO), Flexible Work Arrangements, Employee Assi... | HTML, CSS, JavaScript Frontend frameworks (e.g., React, Angular) User experience (UX) | Design and code user interfaces for websites, ensuring a seamless and visually appealing user experi... | PNC Financial Services Group | {"Sector":"Financial Services","Industry":"Commercial Banks","City":"Pittsburgh","State":"Pennsylvan... |

In [3]:
jobs = spark.read.option("header", True).option("inferSchema", True).csv("../job_descriptions.csv")
jobs.count()

1615940

In [4]:
jobs.groupBy("Role").count().sort("Role").toPandas()

                          Role  count
0                API Developer   3483
1      Accessibility Developer   3513
2            Account Executive   7063
3              Account Manager   3474
4           Account Strategist   3460
..                         ...    ...
371         Wedding Consultant   3492
372        Wedding Coordinator   3552
373           Wedding Designer   3353
374            Wedding Planner   6902
375  Wireless Network Engineer   3458

[376 rows x 2 columns]

# **Feature 1**

Comparison of job to other jobs of the same position.

Example: I am looking for a new "software engineer" position.  When I look at a job posting, I'd like to see how this posting compares to other "software engineer" positions.  For example, "this posting has a lower salary than other postings of similar positions, and requires more qualifications.

Input:
```json
{
    "role": "job role"
    "salary": 100000,
    "education": "BS",
    "experience": 5,
    "num_skills": 5,
    "num_responsibilities": 5,
    "num_benefits": 5
}
```

Output:
```json
{
    "role": "Frontend Web Developer",
    "salary": "less than average",
    "education": "less than average",
    "experience": "less than average",
    "skills": "greater than average",
    "responsibilities": "greater than average",
    "benefits": "greater than average",
}
```

In [142]:
role_stats = {}
roles = jobs.groupBy("Role").count().sort("Role").toPandas()

for i, row in roles.iterrows():
    role_stats[row["Role"]] = {}

In [143]:
def get_avg_salary(salary_str):
    range = [int(n) for n in re.findall(r"\d+", salary_str)]
    return statistics.mean(range) * 1000

udf_avg_salary = udf(get_avg_salary, types.FloatType())

salaries = jobs.withColumn("Salary", udf_avg_salary(col("Salary Range")))\
.groupBy("Role").mean("Salary").sort("Role").toPandas()

for i, row in salaries.iterrows():
    role_stats[row["Role"]]["salary"] = row["avg(Salary)"]

salaries

                          Role   avg(Salary)
0                API Developer  82636.602452
1      Accessibility Developer  82385.600455
2            Account Executive  82449.157303
3              Account Manager  82809.915014
4           Account Strategist  82440.628638
..                         ...           ...
371         Wedding Consultant  82349.743882
372        Wedding Coordinator  82566.101695
373           Wedding Designer  82452.353283
374            Wedding Planner  82525.977817
375  Wireless Network Engineer  82669.014085

[376 rows x 2 columns]

In [144]:
def get_avg_ed(ed_str):
    # Bachelor's
    if ed_str[0] == "B":
        return 1
    # Master's
    if ed_str[0] == "M":
        return 2
    # Doctorate
    if ed_str[0] == "P":
        return 3
    else:
        return 0

udf_avg_ed = udf(get_avg_ed, types.IntegerType())

educations = jobs.withColumn("Education", udf_avg_ed(col("Qualifications")))\
.groupBy("Role").mean("Education").sort("Role").toPandas()

for i, row in educations.iterrows():
    role_stats[row["Role"]]["education"] = row["avg(Education)"]

educations

                          Role  avg(Education)
0                API Developer        1.614126
1      Accessibility Developer        1.597780
2            Account Executive        1.600878
3              Account Manager        1.585492
4           Account Strategist        1.600578
..                         ...             ...
371         Wedding Consultant        1.615979
372        Wedding Coordinator        1.606700
373           Wedding Designer        1.590218
374            Wedding Planner        1.601710
375  Wireless Network Engineer        1.580682

[376 rows x 2 columns]

In [145]:
def get_avg_exp(exp_str):
    range = [int(n) for n in re.findall(r"\d+", exp_str)]
    return statistics.mean(range)

udf_avg_exp = udf(get_avg_exp, types.FloatType())

exps = jobs.withColumn("Years Experience", udf_avg_exp(col("experience")))\
.groupBy("Role").mean("Years Experience").sort("Role").toPandas()

for i, row in exps.iterrows():
    role_stats[row["Role"]]["experience"] = row["avg(Years Experience)"]

exps

                          Role  avg(Years Experience)
0                API Developer               7.003116
1      Accessibility Developer               7.026810
2            Account Executive               6.961190
3              Account Manager               6.964162
4           Account Strategist               7.009029
..                         ...                    ...
371         Wedding Consultant               6.962441
372        Wedding Coordinator               6.971982
373           Wedding Designer               7.065859
374            Wedding Planner               7.018487
375  Wireless Network Engineer               6.991419

[376 rows x 2 columns]

In [146]:
def get_avg_skills(skills_str):
    split = re.split(r"(?=\s[A-Z])", skills_str)
    skills = [s.strip() for s in split if s.strip()]
    return len(skills)

udf_avg_skills = udf(get_avg_skills, types.IntegerType())

skills = jobs.withColumn("num_skills", udf_avg_skills(col("skills")))\
.groupBy("Role").mean("num_skills").sort("Role").toPandas()

for i, row in skills.iterrows():
    role_stats[row["Role"]]["num_skills"] = row["avg(num_skills)"]

skills

                          Role  avg(num_skills)
0                API Developer              5.0
1      Accessibility Developer             14.0
2            Account Executive              7.0
3              Account Manager              5.0
4           Account Strategist              6.0
..                         ...              ...
371         Wedding Consultant              3.0
372        Wedding Coordinator             12.0
373           Wedding Designer              3.0
374            Wedding Planner              5.0
375  Wireless Network Engineer              6.0

[376 rows x 2 columns]

In [147]:
def get_avg_res(responsibilities_str):
    responsibilities = [r.strip() for r in responsibilities_str.split(".") if r.strip()]
    return len(responsibilities)

udf_avg_res = udf(get_avg_res, types.IntegerType())

responsibilities = jobs.withColumn("num_responsibilities", udf_avg_res(col("responsibilities")))\
.groupBy("Role").mean("num_responsibilities").sort("Role").toPandas()

for i, row in responsibilities.iterrows():
    role_stats[row["Role"]]["num_responsibilities"] = row["avg(num_responsibilities)"]

responsibilities

                          Role  avg(num_responsibilities)
0                API Developer                        3.0
1      Accessibility Developer                        3.0
2            Account Executive                        3.0
3              Account Manager                        3.0
4           Account Strategist                        3.0
..                         ...                        ...
371         Wedding Consultant                        3.0
372        Wedding Coordinator                        3.0
373           Wedding Designer                        3.0
374            Wedding Planner                        3.0
375  Wireless Network Engineer                        3.0

[376 rows x 2 columns]

In [148]:
def get_avg_ben(benefits_str):
    benefits = [b.strip() for b in benefits_str[2:-2].split(",") if b.strip()]
    return len(benefits)

udf_avg_ben = udf(get_avg_ben, types.IntegerType())

benefits = jobs.withColumn("num_benefits", udf_avg_ben(col("benefits")))\
.groupBy("Role").mean("num_benefits").sort("Role").toPandas()

for i, row in benefits.iterrows():
    role_stats[row["Role"]]["num_benefits"] = row["avg(num_benefits)"]

benefits

                          Role  avg(num_benefits)
0                API Developer                5.0
1      Accessibility Developer                5.0
2            Account Executive                5.0
3              Account Manager                5.0
4           Account Strategist                5.0
..                         ...                ...
371         Wedding Consultant                5.0
372        Wedding Coordinator                5.0
373           Wedding Designer                5.0
374            Wedding Planner                5.0
375  Wireless Network Engineer                5.0

[376 rows x 2 columns]

In [149]:
with open("../outputs/role_stats.json", "w") as f:
    json.dump(role_stats, f)

## Demonstration

In [106]:
def compare_job_posting(job_description, client, role_stats):
    output = {}
    for key in  ["salary", "education", "experience", "num_skills", "num_responsibilities", "num_benefits", "education"]:
        output[key] = None
        
    format = '''
    {
     "role": "job role"
     "salary": 100000,
     "education": "BS",
     "experience": 5,
     "num_skills": 5,
     "num_responsibilities": 5,
     "num_benefits": 5
    }
    '''
    description = ("where role is the job position or title, "
                   "salary is the estimated salary in dollars, "
                   "ed is the required education, "
                   "exp is the desired years of experience, "
                   "num_skills is number of skills listed, "
                   "num_responsibilities is the number of responsibilities listed, "
                   "and num_benefits is the number of benefits listed.  "
                   "If something is not provided, put a 'null' instead.  "
                   "Do not include any delimiters or special characters "
                   "other than what is needed to load this JSON string into Python.")
    
    is_json = False
    attempts = 0
    while not is_json:
        prompt = "Based off this job description:\n" + job_description + \
        "\nCan you give me a JSON object in this format with this information:\n" + format + description
        response = client.chat.completions.create(
            messages = [{"role": "user", "content": prompt}],
            model = "gpt-3.5-turbo"
        )

        # make sure we don't query too many times
        attempts += 1
        if attempts >= 3:
            return output
            
        # keep looping until we get a valid JSON format
        try:
            parsed_info = json.loads(response.choices[0].message.content)
            role = parsed_info["role"]
            is_json = True
        except:
            pass

    prompt = "Here is a list of job roles: \n" + str(list(role_stats.keys())) + f"\nCan you give me only one role from that list which is most similar to '{parsed_info['role']}'?"
    response = client.chat.completions.create(
        messages = [{"role": "user", "content": prompt}],
        model = "gpt-3.5-turbo"
    )

    # every so often AI will return a role that's not actually in the list
    # if this is the case, find the most similar role in the list to the returned role using cosine similarity
    ratios = []
    for role in list(role_stats.keys()):
        ratios.append(td.cosine(response.choices[0].message.content.lower().strip(), role.lower().strip()))
    stats = role_stats[list(role_stats.keys())[np.argmax(ratios)]]

    tol = .1    
    for key in ["salary", "education", "experience", "num_skills", "num_responsibilities", "num_benefits"]:
        if key not in parsed_info.keys():
            output[key] = None
            
        if isinstance(parsed_info[key], numbers.Number):
            if parsed_info[key] > (1 + tol) * stats[key]:
                output[key] = "above"
            elif parsed_info[key] < (1 - tol) * stats[key]:
                output[key] = "below"
            else:
                output[key] = "average"
    
    if type(parsed_info["education"]) == str:
        if parsed_info["education"][0] == "B":
            ed = 1
        if parsed_info["education"][0] == "M":
            ed = 2
        if parsed_info["education"][0] == "P":
            ed = 3
        else:
            ed = 0
        if ed > (1 + tol) * stats["education"]:
            output["education"] = "above"
        elif ed < (1 - tol) * stats["education"]:
            output["education"] = "below"
        else:
            output["education"] = "average"

    return output

def translate_output(output):
    description = ("where salary is whether or not it is above or below average, "
                   "education is whether or not it is above or below average, "
                   "experience is whether or not it is above or below average, "
                   "num_skills is whether or not it is above or below average, "
                   "num_responsibilities is whether or not it is above or below average, "
                   "and num_benefits is whether or not it is above or below average. "
                   "If something is 'None', it means no information could be found for that attribute.  ")
    prompt = "Here is a raw JSON output object: \n" + str(output) + "\n" + description + \
    "Can you translate this object into a more readable format, intended for a user that wants to compare this job to other similar jobs?"
    response = client.chat.completions.create(
        messages = [{"role": "user", "content": prompt}],
        model = "gpt-3.5-turbo"
    )

    return response.choices[0].message.content

In [122]:
with open("../outputs/role_stats.json") as f:
    role_stats = json.load(f)
    
client = OpenAI(api_key = os.getenv("OPENAI_API_KEY"))

print("-- Assistant --")
print("Please paste the job description here: \n")
print("-- User --")
job_description = input()
output = compare_job_posting(job_description, client, role_stats)
response = translate_output(output)
print("\n-- Assistant --")
print(response)

-- Assistant --
Please paste the job description here:

-- User --

 Software Developer - AI Trainer (Contract)- job post DataAnnotation 4.4out of 5 New York, NY•Remote From $40 an hour - Contract You must create an Indeed account before continuing to the company website to apply Profile insights Find out how your skills align with the job description Skills  Do you have experience in AI? Education  Do you have a Bachelor's degree? &nbsp; Job details Here’s how the job details align with your profile. Pay From $40 an hour Job type Contract &nbsp; Benefits Pulled from the full job description Work from home &nbsp; Full job description We are looking for proficient programmers to join our team to train our AI chatbots to code. You will work with the chatbots that we are building in order to measure their progress, as well as write and evaluate code.  In this role you will need to be proficient in at least one programming language and able to solve coding problems (think LeetCode, HackerRank, etc). For each coding problem, you must be able to explain how your solution solves the problem.  Benefits:  This is a full-time or part-time REMOTE position You’ll be able to choose which projects you want to work on You can work on your own schedule Projects are paid hourly, with bonuses on high-quality and high-volume work Responsibilities:  Come up with diverse problems and solutions for a coding chatbot Write high-quality answers and code snippets Evaluate code quality produced by AI models for correctness and performance Qualifications:  Fluency in English Proficient in at least one programming language Detail-oriented Excellent writing and grammar skills A bachelor's degree (completed or in progress) Note: Payment is made via PayPal. We will never ask for any money from you. PayPal will handle any currency conversions from USD. This job is only available to those in the US, UK, Ireland, Canada, Australia, or New Zealand. Those located outside of these countries will not see work or assessments available on our site at this time.  Job Type: Contract  Pay: From $40.00 per hour  Expected hours: 1 – 40 per week  Benefits:  Work from home Location:  New York, NY (Required) Work Location: Remote

-- Assistant --
Based on the information provided, the job role in question requires a below average salary and educational level. However, the job necessitates a higher number of skills, so candidates should be proficient in a variety of areas. The job responsibilities are deemed to be average in quantity, while the number of benefits offered is below average. Overall, this job role values a diverse skill set and experience may not be a key factor in the hiring process.

# **Feature 2**

What skills an applicant needs for a specific job position.

Example: I am looking for a new "software engineer" position.  When I search for "software engineer," I'd like to see a list of the most common qualifications for this position, e.g., "Python proficiency, AWS CDK, and GitHub CI/CD."

Input:
```json
{
    "role": "Frontend Web Developer",
}
```

Output:
```json
{
    "skills": [
        "HTML",
        "CSS",
        "JavaScript Frontend frameworks (e.g., React, Angular)",
        "User experience (UX)",
    ],
}
```

## YAKE UDF Method

In [5]:
jobs_reduced = jobs.sample(withReplacement = False, fraction = .1)

In [ ]:
extractor = yake.KeywordExtractor(top = 5, stopwords = None)

def get_keywords(skills_str):
    skills = extractor.extract_keywords(skills_str)
    return [s[0].strip().lower() for s in skills]

udf_keywords = udf(get_keywords, types.ArrayType(types.StringType()))

# keywords = jobs.withColumn("skills_keywords", udf_keywords(col("skills")))
keywords = jobs_reduced.withColumn("skills_keywords", udf_keywords(col("skills")))
keywords = keywords.withColumn("keyword", explode("skills_keywords"))
keywords_count = keywords.groupBy("Role", "keyword").count()

In [ ]:
window = Window.partitionBy(keywords_count["Role"]).orderBy(keywords_count["count"].desc())
# get top 5 ranked skills keywords for each role
top_skills = keywords_count.select("*", rank().over(window).alias("rank")).filter(col("rank") <= 5)
top_skills = top_skills.groupBy("Role").agg(collect_set("keyword").alias("keywords")).toPandas()

## Spark NLP Method

In [ ]:
spark_nlp = sparknlp.start()

In [4]:
jobs = spark_nlp.read.option("header", True).option("inferSchema", True).csv("../job_descriptions.csv")

In [5]:
jobs_reduced = jobs.sample(withReplacement = False, fraction = .1)

In [18]:
documentAssembler = DocumentAssembler().setInputCol("skills").setOutputCol("document")
sentenceDetector = SentenceDetector().setInputCols(["document"]).setOutputCol("sentence")
token = Tokenizer().setInputCols(["sentence"]).setOutputCol("token").setContextChars(["(", "]", "?", "!", ".", ","])
keywords = YakeKeywordExtraction().setInputCols(["token"]).setOutputCol("keywords")
pipeline = Pipeline().setStages([documentAssembler, sentenceDetector, token, keywords])

# keywords = pipeline.fit(jobs).transform(jobs)
keywords = pipeline.fit(jobs_reduced).transform(jobs_reduced)

In [19]:
keywords = keywords.selectExpr("Role", "explode(keywords.result) as keyword")
keywords_count = keywords.groupBy("Role", "keyword").count()

In [20]:
window = Window.partitionBy(keywords_count["Role"]).orderBy(keywords_count["count"].desc())
# get top 5 ranked skills keywords for each role
top_skills = keywords_count.select("*", rank().over(window).alias("rank")).filter(col("rank") <= 5)
top_skills = top_skills.groupBy("Role").agg(collect_set("keyword").alias("keywords")).toPandas()

In [21]:
role_skills = {}

for i, row in top_skills.iterrows():
    role_skills[row["Role"]] = row["keywords"]

In [22]:
with open("../outputs/role_skills.json", "w") as f:
    json.dump(role_skills, f)

## Demonstration

In [119]:
def list_job_skills(role_req, client, role_skills):
    skills = []

    prompt = ("Here is a list of job roles: \n" + str(list(role_skills.keys())) + f"\nCan you give me only one role from that list which is most similar to this user request: '{role_req}'?  "
             "Only return the name of the role, nothing else.")
    response = client.chat.completions.create(
        messages = [{"role": "user", "content": prompt}],
        model = "gpt-3.5-turbo"
    )

    # every so often AI will return a role that's not actually in the list
    # if this is the case, find the most similar role in the list to the returned role using cosine similarity
    ratios = []
    for role in list(role_skills.keys()):
        ratios.append(td.cosine(response.choices[0].message.content.lower().strip(), role.lower().strip()))
    skills = role_skills[list(role_skills.keys())[np.argmax(ratios)]]

    return skills

def translate_output(output):
    prompt = "Here is a list of skills for a specific job role: \n" + str(output) + \
    "Can you translate this list into a more readable format, intended for a user that wants to find out what skills are required for this certain job role?  Feel free to expand a little as you see fit."
    response = client.chat.completions.create(
        messages = [{"role": "user", "content": prompt}],
        model = "gpt-3.5-turbo"
    )

    return response.choices[0].message.content

In [121]:
with open("../outputs/role_skills.json") as f:
    role_skills = json.load(f)

client = OpenAI(api_key = os.getenv("OPENAI_API_KEY"))

print("-- Assistant --")
print("What job role are you looking for?\n")
print("-- User --")
role = input()
output = list_job_skills(role, client, role_skills)
response = translate_output(output)
print("\n-- Assistant --")
print(response)

-- Assistant --
What job role are you looking for?

-- User --

 software developer

-- Assistant --
Skills required for this job role may include:
- Proficiency in web frameworks
- Proficiency in database management
- Knowledge of deployment security
- Experience in API development
- Experience in management and deployment
- Understanding of security best practices
- Knowledge of best practices related to deployment and security
- Proficiency in backend programming languages
- Experience in server management
- Familiarity with development of APIs and databases

# **Feature 3**

Job recommendation based on user profile.

Example: I enter in a list of qualifications I have (and maybe some other information such as desired salary).  I'd like to see a list of job positions that most fit my profile.

Input:
```json
{
    "skills": [
        "HTML",
        "CSS",
        "JavaScript Frontend frameworks (e.g., React, Angular)",
        "User experience (UX)",
    ],
    "salary": 100000,
}
```

Output:
```json
{
    "roles": [
        "Frontend Web Developer",
        "User Interface Designer",
        "Backend Developer",
    ],
}
```

In [102]:
user_reqs = {
    "skills": ["html", "java", "python", "aws"],
    "salary": 80000,
}

## Spark Method
Upon request, run a query on a reduced version of the raw dataset to find the role most fitting of the user's requirements.

In [22]:
jobs_reduced = jobs.sample(withReplacement = False, fraction = .01)

In [24]:
def get_avg_salary(salary_str):
    range = [int(n) for n in re.findall(r"\d+", salary_str)]
    return statistics.mean(range) * 1000

udf_avg_salary = udf(get_avg_salary, types.FloatType())

salaries = jobs_reduced.withColumn("Salary", udf_avg_salary(col("Salary Range")))
filtered = salaries.filter(salaries["Salary"] >= user_reqs["salary"])

In [25]:
def get_skills(skills_str):
    split = re.split(r"(?=\s[A-Z])", skills_str)
    return split

# explode each row by individual skill
udf_skills = udf(get_skills, types.ArrayType(types.StringType()))
skills = jobs_reduced.withColumn("skills_list", udf_skills(col("skills")))
skills = skills.withColumn("skill", explode("skills_list"))

In [26]:
def skill_similarity(skill_str):
    dists = []
    for skill in user_reqs["skills"]:
        # for each skill in the provided list, calculate cosine distance
        dists.append(td.cosine(skill_str.lower().strip(), skill.lower().strip()))

    # return the cosine distance of the skill in the list with the max similarity
    return td.cosine(skill_str.lower().strip(), user_reqs["skills"][np.argmax(dists)].lower().strip())

udf_similarity = udf(skill_similarity, types.FloatType())
similarity = skills.withColumn("similarity", udf_similarity(col("skill")))

In [27]:
count_cond = lambda cond: F.sum(F.when(cond,  1).otherwise(0))
# count the rows with a high enough similarity
similar_count = similarity.groupBy("Role").agg(count_cond(col("similarity") > .75).alias("num_similar"))
skills_count = similarity.groupBy("Role").count()
# for each role, get the proportion of rows that had a high enough similarity
counts = similar_count.join(skills_count, "Role").withColumn("percent_similar", (col("num_similar") / col("count")))

# get top roles
sorted = counts.orderBy(counts["percent_similar"].desc())
top = sorted.limit(5).toPandas()
list(top["Role"].values)

['Server Developer',
 'Database Developer',
 'Test Automation Engineer',
 'Automation Tester',
 'Backend Web Developer']

## JSON Method
Using spark on runtime is slow.  First, generate an output file with a list of the most common skills for each role (feature 2), and then load this output file upon runtime.

In [10]:
with open("../outputs/role_skills.json") as f:
    role_skills = json.load(f)
with open("../outputs/role_stats.json") as f:
    role_stats = json.load(f)

In [97]:
satisfy_salary = []
for role in role_stats.keys():
    if role_stats[role]["salary"] >= user_reqs["salary"]:
        satisfy_salary.append(role)

ratios = []
for role in satisfy_salary:
    similarities = []
    for role_skill in role_skills[role]:
        max_sim = 0
        for user_skill in user_reqs["skills"]:
            dist = td.cosine(role_skill.lower().strip(), user_skill.lower().strip())
            if dist > max_sim:
                max_sim = dist
        similarities.append(max_sim)
    ratios.append(len([s for s in similarities if s > .75]) / len(similarities))

top_roles = []
indices = np.array(ratios).argsort()[-5:][::-1]
for i in indices:
    if ratios[i] > 0:
        top_roles.append(satisfy_salary[i])

In [98]:
top_roles

['Java Backend Developer']

## Demonstration

In [131]:
def get_relevant_jobs(user_request, client, role_stats, role_skills):
    top_roles = []
    
    format = '''
    {
     "skills": ["skill 1", "skill 2"]
     "salary": 100000,
    }
    '''
    description = ("where skills is the skills that the user has said they have, "
                   "and salary is their desired salary in dollars.  "
                   "If something is not provided, put a 'null' instead.  "
                   "Do not include any delimiters or special characters "
                   "other than what is needed to load this JSON string into Python.")
    
    is_json = False
    attempts = 0
    while not is_json:
        prompt = "Based off this description of a user's desires in a job they are searching for:\n" + user_request + \
        "\nCan you give me a JSON object in this format with this information:\n" + format + description
        response = client.chat.completions.create(
            messages = [{"role": "user", "content": prompt}],
            model = "gpt-3.5-turbo"
        )

        # make sure we don't query too many times
        attempts += 1
        if attempts >= 3:
            return output
            
        # keep looping until we get a valid JSON format
        try:
            parsed_info = json.loads(response.choices[0].message.content)
            is_json = True
        except:
            pass

    satisfy_salary = []
    if isinstance(parsed_info["salary"], numbers.Number):
        for role in role_stats.keys():
            if role_stats[role]["salary"] >= parsed_info["salary"]:
                satisfy_salary.append(role)
    
    ratios = []
    for role in satisfy_salary:
        similarities = []
        for role_skill in role_skills[role]:
            max_sim = 0
            for user_skill in parsed_info["skills"]:
                dist = td.cosine(role_skill.lower().strip(), user_skill.lower().strip())
                if dist > max_sim:
                    max_sim = dist
            similarities.append(max_sim)
        ratios.append(len([s for s in similarities if s > .75]) / len(similarities))
    
    top_roles = []
    indices = np.array(ratios).argsort()[-5:][::-1]
    for i in indices:
        if ratios[i] > 0:
            top_roles.append(satisfy_salary[i])

    return top_roles

def translate_output(output):
    if len(output) == 0:
        return "Try changing your search criteria a little bit.  I couldn't find any suitable jobs based off the salary and skills you gave me."
        
    prompt = "Here is a list of job roles that fit the user based on a set of criteria: \n" + str(output) + \
    "Can you translate this list into a more readable format, intended for a user that wants to find what jobs are suitable for them based off their desired salary and the skills they possess?  " + \
    "Feel free to expand a little as you see fit."
    response = client.chat.completions.create(
        messages = [{"role": "user", "content": prompt}],
        model = "gpt-3.5-turbo"
    )

    return response.choices[0].message.content

In [132]:
with open("../outputs/role_stats.json") as f:
    role_stats = json.load(f)
with open("../outputs/role_skills.json") as f:
    role_skills = json.load(f)

client = OpenAI(api_key = os.getenv("OPENAI_API_KEY"))

print("-- Assistant --")
print("Tell me about yourself and what you're looking for in a job.  What sort of salary are you looking for?  What skills do you possess right now?\n")
print("-- User --")
role = input()
output = get_relevant_jobs(role, client, role_stats, role_skills)
response = translate_output(output)
print("\n-- Assistant --")
print(response)

-- Assistant --
Tell me about yourself and what you're looking for in a job.  What sort of salary are you looking for?  What skills do you possess right now?

-- User --

 I want a salary of at least 80K.  I know a lot about machine learning, and also can do some software development.  I've used html, python, java, and javascript, and I also know sql.

-- Assistant --
Based on your desired salary and skills you possess, here are some job roles that might be a good fit for you:

1. Human Resources Director - This role typically involves overseeing the recruitment, training, and development of employees within an organization. It requires strong communication and leadership skills, as well as a good understanding of labor laws and regulations. The average salary for this position is [insert average salary range for HR Director here].

2. Mechanical Design Engineer - As a Mechanical Design Engineer, you would be responsible for designing and developing mechanical systems and products. This role requires strong technical skills in CAD software and knowledge of engineering principles. The average salary for this position is [insert average salary range for Design Engineer here].

3. Sales Manager - Sales Managers are responsible for leading a team of sales professionals and developing strategies to drive revenue growth. This role requires strong leadership skills, as well as a knack for building relationships and closing deals. The average salary for this position is [insert average salary range for Sales Manager here].

4. Java Backend Developer - Java Backend Developers are responsible for building and maintaining the backend infrastructure of web applications using Java programming language. This role requires strong skills in Java programming, database management, and software development. The average salary for this position is [insert average salary range for Java Developer here].

5. Art Education Coordinator - As an Art Education Coordinator, you would be responsible for developing and implementing art education programs within schools or community organizations. This role requires a passion for art education, as well as strong communication and organizational skills. The average salary for this position is [insert average salary range for Education Coordinator here].

Consider exploring these job roles further to see which align best with your skills and interests. Good luck on your job search!